<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kozart.demo.demo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.kozart.demo.demo.bean.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="realName" jdbcType="VARCHAR" property="realName" />
        <result column="isAdmain" jdbcType="INTEGER" property="isAdmain" />
    </resultMap>

    <select id="Sel" resultType="com.kozart.demo.demo.bean.User" parameterType="int">
        select * from user where id = #{id}
    </select>
    <select id="loginInfo" resultType="com.kozart.demo.demo.bean.User" parameterType="com.kozart.demo.demo.bean.User">
        select * from user where userName=#{userName} and passWord=#{passWord}
    </select>

</mapper>
