<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>登录demo</title>
</head>
<form accept-charset="utf-8" action="/demo/getLogin">
    <ul>
        <li><label>用户名：</label></li>
        <li><input type="text" id="userName" name="userName" maxlength="20"/><li>
        <li><label>密码：</label></li>
        <li><input type="password" id="passWord" name="passWord" maxlength="20"/></li>
        <li></li>
        <li><button type="submit" text="login" style="height:30px;width:50px"/></li>
    </ul>


</form>
</body>
</html>