<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<p th:text="'Hello, ' + ${title}" /><br/>
<ul>

    <li><label>请输入用户名：</label></li>
    <li><input type="text" id="userName" name="userName" maxlength="20"/><li>
    <li><label>设置密码：</label></li>
    <li><input type="password" id="passWord" name="passWord" maxlength="20"/></li>
    <li><label>设置昵称：</label></li>
    <li><input type="text" id="realName" name="realName" maxlength="20"/></li>
    <li></li>
    <li><button type="submit" text="login" style="height:30px;width:50px"/></li>
</ul>
<!--<ul>-->
<!--    <li><label>请输入用户名：</label></li>-->
<!--    <li><input type="text" id="userName" name="userName" maxlength="20"/><li>-->
<!--    <li><label>设置密码：</label></li>-->
<!--    <li><input type="password" id="passWord" name="passWord" maxlength="20"/></li>-->
<!--    <li><label>设置昵称：</label></li>-->
<!--    <li><input type="text" id="realName" name="realName" maxlength="20"/></li>-->
<!--    <li></li>-->
<!--    <li><button type="submit" text="login" style="height:30px;width:50px"/></li>-->
<!--</ul>-->
<!--<ul>-->
<!--    <li><label>请输入用户名：</label></li>-->
<!--    <li><input type="text" id="userName" name="userName" maxlength="20"/><li>-->
<!--    <li><label>设置密码：</label></li>-->
<!--    <li><input type="password" id="passWord" name="passWord" maxlength="20"/></li>-->
<!--    <li><label>设置昵称：</label></li>-->
<!--    <li><input type="text" id="realName" name="realName" maxlength="20"/></li>-->
<!--    <li></li>-->
<!--    <li><button type="submit" text="login" style="height:30px;width:50px"/></li>-->
<!--</ul>-->

</body>
</html>
